html {
    font-size: 16px;
}

body {
    background-color: #DCF2F8 !important;
}

.ant-modal-content {
    border-radius: 1rem;
}

.container {
    margin: 32px;
    border: 2px solid rgba(0, 0, 0, 0.125);
}

.app-header {
    padding: 12px 16px;
    background-color: white;
}

.ant-table-wrapper {
    background-color: white;
}

.app-header h2 {
    color: #0079AF;
    font-weight: bold;
}

.app-header .btn-box {
    padding: 12px 0;
}

.btn-round-corner {
    border-radius: 16px !important;
}

thead tr th {
    font-weight: bold !important;
    color: #0079AF !important;
    background-color: #DCF2F8 !important;
}

.ml-3 {
    margin-left: 1rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.25rem !important;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0.25rem !important;
}

h3 {
    font-size: 1.75rem;
    margin-bottom: 0.25rem !important;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 0.25rem !important;
}

h5 {
    font-size: 1.25rem;
    margin-bottom: 0.25rem !important;
}

h6 {
    font-size: 1rem;
    margin-bottom: 0.25rem !important;
}

.modal-temp {
    font-size: 6rem;
    line-height: 1;
    position: relative;
}

.modal-temp .unit {
    font-size: 2rem;
    position: absolute;
    top: 5px;
}

.modal-info {
    padding: 15px 0;
}

.modal-info-item {
    padding: 5px;
}

.modal-info-item img {
    width: 1.75rem;
}

.modal-info-item span {
    padding: 10px;
}

.weather-image {
    padding-top: 20px;
}